<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("Styles", false)
</head>
<body>
    @RenderBody()
    @RenderSection("BottomScripts", false)
</body>
</html>