@{
    Layout = "~/Features/Shared/Views/_LayoutBasic.cshtml";
}
@if (IsSectionDefined("Style"))
{
    @RenderSection("Style")
}
@{
    Html.RenderPartial("_Header");
}
<section>
    @RenderBody()
</section>
@{
    Html.RenderPartial("_Footer");
}
@if (IsSectionDefined("BottomScript"))
{
    @RenderSection("BottomScript")
}