@import '../../../Shared/Assets/Css/variables.scss';

.listing-page{
    .total-count{
        font-weight:bold;
        margin-bottom:16px;
    }
    ul.listing{
        list-style:none;
        display:block;
        padding:0;
        margin:0;
        border:0;
        margin-bottom:16px;

        li{
            display:block;
            margin-bottom:16px;
            padding: 0 0 15px;
            border-bottom:1px dotted #666;
            
            h2{
                font-size:150%;
                margin-bottom:8px;
            }    

            a{
                color: $colorDefault;
                text-decoration:none;
            }

            a.btn{
                display:inline-block;
                background: #000;
                color:#fff;
                padding:8px 12px;
                border-radius:3px;

                &.saved{                    
                    background: green;
                }
            }

            img{
                border:1px solid #ddd;
                padding:5px;
                margin-bottom:16px;
            }

            .data{
                display:block;
                margin-bottom:8px;
                .label{
                    font-weight:bold;
                }
            }
        }
    }    
}