@using Bolt.Common.Extensions
@model IEnumerable<Carsales.Web.Features.Details.RelatedArticles.RelatedArticleViewModelItem>

@if (Model.IsEmpty())
{
    return;
}

<ul class="related-articles">
    @foreach (var item in Model)
    {
        <li>
            <img src="//liveimages.motoring.com.au/carsales/@item.Photo?width=90"/>
            <h2>@item.Title</h2>
        </li>
    }
</ul>
