#page-header{
    min-height:115px;
    margin-bottom:25px;

    .logo{
        display:block;
        float:left;
        width: 143px;
        height: 53px;
        background:url('../Img/cs_logo-143x53.png') no-repeat;
        margin: 12px 0 0 15px;
    }
}
