@import 'variables.scss';
@import 'reset.scss';

body{
    font-family: $fontFamilyDefault;
    font-size: $fontSizeDefault;
}

.page-main{
    width:100%;
    text-align:center;
    margin-bottom:25px;

    .container{
        width: $pageWidth;
        margin:0 auto;
        text-align:left;
    }
}

