@model IEnumerable<string>

<section class="member-saved-items" data-networkids="@string.Join(",",Model)">
    <h2>Saved Items (@Model.Count())</h2>
    <ul>
        @foreach (var item in Model)
        {
            <li data-id="@item" class="loading">
                <img src="http://placehold.it/128x85" width="128" height="85"/>
                <div class="details">
                    <h2>..........................</h2>
                    <div class="price">$ ......</div>
                </div>
            </li>
        }
    </ul>
</section>