@model IEnumerable<string>

<section class="member-saved-items" data-networkids="@string.Join(",",Model)">
    <h2>Saved Items (@Model.Count())</h2>
    <ul>
        @foreach (var item in Model)
        {
            <li data-id="@item">
                <img src="http://placehold.it/128x85" width="128" height="85"/>
            </li>
        }
    </ul>
</section>