.member-saved-items{
    ul{
        padding:0;
        margin:0;
        border:0;
        display:block;
        list-style:none;

        li{
            display:block;
            padding-bottom:5px;
            border-bottom:1px dotted #ccc;
            margin-bottom:5px;
            img{
                padding:3px;
                border:1px solid #ddd;
            }
        }
    }
}
