.member-saved-items{
    h2{
        font-size: 150%;
        font-weight: 600;
        margin-bottom:16px;
    }
    ul{
        padding:0;
        margin:0;
        border:0;
        display:block;
        list-style:none;

        li{
            display:block;
            padding-bottom:5px;
            border-bottom:1px dotted #ccc;
            margin-bottom:5px;
            overflow: hidden;

            img{
                float: left;
                margin-right: 10px;
                padding:3px;
                border:1px solid #ddd;
            }

            .details{
                float:left;
                width:214px;
                h2{
                    font-size:100%;
                    margin-bottom:5px;
                }

                .price{
                    font-weight:bold;
                }
            }

            &.loading{
                .details{
                    h2 { background: #ddd; width: 100%; height: 20px; text-indent: -1000px; }
                    .price { background: #ddd; width: 50%; height: 20px; text-indent: -1000px; }                  
                }
            }
        }
    }
}
